* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Roboto Slab", serif;
  height: 100%;
  min-height: 100%;
  margin: auto;
  background: #ffffffd3;
  background: url("/assets/img/tweed.png");
}
.container {
  width: 100%;
}

.summary-container,
.summary-header,
.header,
.project-container,
.contact-container {
  margin: auto;
  width: 95%;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto Slab", serif;
}

.logo {
  display: flex;
  justify-content: flex-start;
  color: rgb(255, 255, 255);
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
  padding-top: 3.5px;
  background-color: rgb(99, 99, 99);
  width: 100%;
  height: 30px;
  font-size: 17px;
}

.item-container {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto Slab", serif;
  width: 100%;
}

.nav-item {
  color: rgb(255, 255, 255);
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
  padding-top: 3.5px;
  display: flex;
  justify-content: center;
  background-color: rgb(99, 99, 99);
  width: 100%;
  height: 30px;
  font-size: 17px;
}

.nav-item:hover {
  background-color: rgb(221, 221, 221);
}

.summary-container {
  display: flex;
  height: 100px;
  margin-bottom: 35px;
}
.summary-header,
.header {
  height: 25px;
  background-color: rgb(233, 233, 233);
  
}
.summary-content,
.project-container {
  background-color: rgb(172, 71, 71);
  color: white;
  box-shadow: 0px 5px 15px 3px rgba(46, 46, 46, 0.55);
}

.summary {
  margin: 15px;
}

.project-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 55px;
}

.project-paragraph {
  height: 100px;
  width: 100%;
  margin: 15px;
}
.slide-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.slides {
  background-color: #000000;
  box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.55);
  text-align: center;
  margin: 10px;
  margin-bottom: 25px;
  width: 60%;
  overflow: hidden;
}

.caption {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 20%;
}

.demo-button {
  font-family: "Roboto", sans-serif;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

.demo-button:hover {
  color: #000000;
  background-color: #ffffff;
}

#button-one-container,
#button-two-container,
#button-three-container,
#button-four-container {
  display: flex;
  justify-content: center;
  width: 50%;
}

.img {
  height: auto;
  width: 50%;
  float: left;
}

.project-description {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-top: 200px;
}
.contact-container {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  height: 40px;
}


.contact-item {
  display: flex;
  justify-content: center;
  width: 25%;
  background-color: rgb(46, 46, 46);
  color: white;
  font-size: 16px;
  padding-top: 12px;
}

.contact-item:hover {
  color: silver;
}

#contact-item {
  padding-bottom: 10px;
  border-bottom-left-radius: 5px;
}

#contact-item:hover {
  color: white;
}

#linkedin-item {
  border-bottom-right-radius: 5px;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  clear: both;
  position: relative;
  height: 40px;
  margin-top: -40px;
}
