* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Slab", serif;
  height: 100vh;
  min-height: 100%;
  margin: auto;
  background: white;
  background: url("./assets/img/px_by_Gre3g.png");
}

.teal-container {
  background: url("./assets/img/topography.png");
  box-shadow: inset 0 0 0 1000px rgb(0, 128, 128, 0.781);
  padding-bottom: 70px;
  margin-bottom: 100px;
}
.container {
  width: 100%;
}

.summary-container,
.summary-header,
.header,
.project-header,
.project-container,
.contact-container {
  margin: auto;
  width: 70%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto Slab", serif;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(255, 255, 255);
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
  width: 100%;
  height: 60px;
  font-size: 30px;
}

#frog {
  font-size: 25px;
  margin-left: 5px;
}
.item-container {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto Slab", serif;
  width: 100%;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  letter-spacing: 0.5em;
  width: 100%;
  height: 60px;
  color: white
}

.nav-item:hover {
  background-color: rgb(40, 47, 57);
  color: white;
  font-size: 17px;
  transition: all 1s ease;
}

.contact-container {
  display: flex;
  height: 40px;
  width: 85%;
}

.contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  background-color: rgb(40, 47, 57);
  color: rgb(212, 212, 212);
  font-size: 16px;
  letter-spacing: 0.2em;
}

.contact-item:hover {
  background: transparent;
  color: white;
  font-size: 17px;
  transition: all 1s ease;
}

#contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: rgb(40, 47, 57);
  color: rgb(212, 212, 212);
  width: 25%;
  border-bottom-left-radius: 5px;
}

#linkedin-item {
  border-bottom-right-radius: 5px;
}

/* svg */

.svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 300px;
}

.summary-header,
.summary-container {
  display: flex;
  height: 100px;
}

.summary-container {
  height: 300px;
  margin-bottom: 35px;
}

.summary-header,
.header {
  height: 25px;
}

.summary-header,
.project-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(40, 47, 57);
  color: rgb(212, 212, 212);
  height: 80px;
  border-radius: 8px;
  margin-bottom: 40px;
  border: #147d64 solid 1.5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.summary-header {
  font-size: 40px;
  background-color: rgb(40, 47, 57);
}
.summary-content {
  background-color: rgb(40, 47, 57);
  color: white;
  border-radius: 8px;
  border: #147d64 solid 1.5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.summary {
  margin: 15px;
}

.summary-list {
  margin-top: 20px;
  margin-left: 50px;
}

.summary-list li {
  margin-bottom: 20px;
}

#project-container {
  margin-bottom: 200px;
  background-color: rgb(40, 47, 57);
  color: rgb(212, 212, 212);
  border: #147d64 solid 1.5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.demo-button {
  width: 150px;
  font-family: "Roboto", sans-serif;
  padding: 0.35em 1.2em;
  border: 0.1em solid white;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: color ease 0.5s;
}

.demo-button:hover {
  color: #000000;
  background-color: #ffffff;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(40, 47, 57);
  clear: both;
  position: relative;
  height: 40px;
  margin-top: -40px;
}

.footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  width: 20%;
}

.footer-item:hover {
  background-color: darkslategray;
  color: white;
  transition: all 1s ease;
}

/* Carousel */
.w3-content {
  height: 700px;
  max-width: 70%;
  padding-top: 20px;
  border-radius: 8px;
}

.slide-caption {
  margin-left: 30px;
  color: white;
}

.button-container {
  margin: 0;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
}

@media (max-width: 40em) {
  .svg {
    display: none;
  }

  .summary-header {
    margin-top: 100px;
  }
}
